[Unit]
Description=Kokab Middleware Service
After=network.target

[Service]
User=paperspace
WorkingDirectory=/usr/local/src/cline-llama-cpp-middleware
ExecStartPre=/bin/bash -c 'source /usr/local/src/cline-llama-cpp-middleware/kokab-env/bin/activate && uv pip install -r /usr/local/src/cline-llama-cpp-middleware/requirements.txt'
ExecStart=/usr/local/src/cline-llama-cpp-middleware/kokab-env/bin/python /usr/local/src/cline-llama-cpp-middleware/middleware.py
Restart=always

[Install]
WantedBy=multi-user.target
